.chooseRoom{
    margin: 0 10%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
  }

.room{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    border: 4px groove greenyellow;
    margin-bottom: 20px;
}

.room img {
    margin-right: 3%;
}

.roomName{

}